<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
    <h1 th:if="${my_account!=null}" th:text="${my_account}"></h1>
    <h1 th:text="${userInfo1.getFirst_name()} +' '+ ${userInfo1.getSecond_name()}"></h1>
    <script th:inline="javascript">
        $(function () {
            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");
            $(document).ajaxSend(function(e, xhr, options) {
                xhr.setRequestHeader(header, token);
            });
        });
    </script>
    <button th:attr="onclick=|open_page('../${userInfo1.getLogin()}/dialog')|"> </button>
</body>
</html>