
<div th:fragment="by_user">



    <form action="/logout" method="post">
        <input type="hidden" name="_csrf" th:value="${_csrf.token}">
        <input type="submit" value="Sign out">
    </form>
    <button onclick="" >1234</button>
    <button onclick="doAjaxPost()" >1234</button>
    <div class="users">

    </div>
    <script th:inline="javascript">
        $(function () {
            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");
            $(document).ajaxSend(function(e, xhr, options) {
                xhr.setRequestHeader(header, token);
            });
        });
        elems = document.querySelector(".users")
        console.log(elems)
        function doAjaxPost() {

            $.ajax({
                url: '/'+[[${userInfo.getLogin()}]],
                type: "POST",
                data: ({
                    userId : 1,
                }),
                success:function(response) {
                    elems.innerHTML=""
                    for(value in response){
                        console.log(response[value][1])
                        elems.innerHTML+="<a href='/by/"+response[value][2]+"'>"+response[value][0]+" "+response[value][1]+"</a><br>"
                    }
                },
                error: function (request, status, error) {
                    console.log(request.responseText);
                }
            });
        }
    </script>

</div>