<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
  <div class="users">
    <h1 th:text="${userInfo1.getFirst_name()}+' '+${userInfo1.getSecond_name()}"></h1>
    <p th:text="${userInfo.getFirst_name()}"></p>

    <div class="messages" th:if="${messages!=null}"  th:each="el : ${messages}">
      <p style="background-color: rgba(85,255,0,0.55)" th:if="${el.getUser().getUserInfo().getLogin()==userInfo.getLogin()}" th:text="${el.getText()}"></p>
      <p style="background-color: rgba(255,0,0,0.55)" th:if="${el.getUser().getUserInfo().getLogin()==userInfo1.getLogin()}" th:text="${el.getText()}"></p>
    </div>
    <form class="messageText">
      <textarea name="send"></textarea><button>Send</button>
    </form>

  </div>
  <script th:inline="javascript">
    $(function () {
      var token = $("meta[name='_csrf']").attr("content");
      var header = $("meta[name='_csrf_header']").attr("content");
      $(document).ajaxSend(function(e, xhr, options) {
        xhr.setRequestHeader(header, token);
      });
      update();
    });

    $(".messageText").submit(function(e) {
      e.preventDefault();
      form = $(this);
      $.ajax({
        type: "POST",
        url: window.location.href.toString(),
        data: form.serialize(),
        success: function(data)
        {
         console.log('ok') ;
        },
        error: function (request, status, error) {
          console.log(request.responseText);
        }
      });

    });
  </script>

</body>
</html>