<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
  <div class="users">
    <h1 th:text="${userInfo1.getFirst_name()}+' '+${userInfo1.getSecond_name()}"></h1>
    <p th:text="${userInfo.getFirst_name()}"></p>

    <div class="messages" th:if="${messages!=null}"  th:each="el : ${messages}">
      <p style="background-color: rgba(85,255,0,0.55)" th:if="${el.getUser().getUserInfo().getLogin()==userInfo.getLogin()}" th:text="${el.getText()}"></p>
      <p style="background-color: rgba(255,0,0,0.55)" th:if="${el.getUser().getUserInfo().getLogin()==userInfo1.getLogin()}" th:text="${el.getText()}"></p>
    </div>
    <form class="messageText">
      <textarea name="send"></textarea><button>Send</button>
    </form>
    <div>
      <div>
        <input type="text" id="from" placeholder="Choose a nickname"/>
      </div>
      <br />
      <div>
        <button id="connect" onclick="connect();">Connect</button>
        <button id="disconnect" disabled="disabled" onclick="disconnect();">
          Disconnect
        </button>
      </div>
      <br />
      <div id="conversationDiv">
        <input type="text" id="text" placeholder="Write a message..."/>
        <button id="sendMessage" onclick="sendMessage();">Send</button>
        <p id="response"></p>
      </div>
    </div>

  </div>
  <script th:inline="javascript">
    var stompClient = null;
    user1 = [[${userInfo.getLogin()}]]
    user2 = [[${userInfo1.getLogin()}]]
    var users = [user1,user2]
    users = users.sort()
    var room = users[0]+'_to_'+users[1];
    function setConnected(connected) {
      document.getElementById('connect').disabled = connected;
      document.getElementById('disconnect').disabled = !connected;
      document.getElementById('conversationDiv').style.visibility
              = connected ? 'visible' : 'hidden';
      document.getElementById('response').innerHTML = '';
    }

    function connect() {
      var socket = new SockJS('/'+room+'/dialog');
      stompClient = Stomp.over(socket);
      stompClient.connect({}, function(frame) {
        setConnected(true);
        console.log('Connected: ' + frame);
        stompClient.subscribe('/topic/'+room+'/dialog', function(messageOutput) {
          showMessageOutput(JSON.parse(messageOutput.body));
        });
      });
    }

    function disconnect() {
      if(stompClient != null) {
        stompClient.disconnect();
      }
      setConnected(false);
      console.log("Disconnected");
    }

    function sendMessage() {
      var from = [[${userInfo.getLogin()}]];
      var text = document.getElementById('text').value;
      stompClient.send("/app/"+room+"/dialog", {},
              JSON.stringify({'from':from, 'text':text}));
    }

    function showMessageOutput(messageOutput) {
      var response = document.getElementById('response');
      var p = document.createElement('p');
      p.style.wordWrap = 'break-word';
      p.appendChild(document.createTextNode(messageOutput.from + ": "
              + messageOutput.text + " (" + messageOutput.time + ")"));
      response.appendChild(p);
    }
  </script>

</body>
</html>