<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" th:src="@{lib/jquery-3.6.1.min.js}"></script>
</head>
<body>
  Лента
    <script th:inline="javascript">
        $(function () {
            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");
            $(document).ajaxSend(function(e, xhr, options) {
                xhr.setRequestHeader(header, token);
            });
        });
        if([[${tt}]]!=null){
            $('html').load('main')
        }
    </script>
</body>
</html>